# Build
/_build/
/deps/
/doc/

# Dialyzer
/priv/plts/

# Test
/cover/

# Package
philter-*.tar

# VM crash dumps
erl_crash.dump

# Archive artifacts
*.ez

# Temporary files
/tmp/

# IDE
.idea/
*.swp
.elixir_ls/
.vscode/

# OS
.DS_Store
